*{
    margin: 0;
    padding: 0;
}


.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://d2aq6dqxahe4ka.cloudfront.net/assets/uploads/campaigns_gallery/5148937118489676799.jpg);
    height: 100vh;
    -webkit-background-size:Cover;
    background-size:cover;
    background-position: center center;
    position: relative;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display:inline-block;
}

.nav-area li a{
    color:#fff;
    text-decoration: none;
    padding: 5px 20px;
    font family:poppins;
    font-size: 16 px;
}

.nav-area li a:hover{
    background: #fff;
    color: #333;
}

.logo img{
    width: 100 px;
    float: left;
    height:auto;
}


.welcome-text{
    position: absolute;
    width:600px;
    height: 300px;
    margin: 20% 30%;
    text-align:center;
}

.welcome-text h1{
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}



.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.welcome-text a:hover{
	background: #fff;
	color: #333;
}








